<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.thailam.android.challenge3">

    <application>
        <activity
            android:name=".Challenge3Activity"
            android:label="@string/title_activity_challenge3"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>